@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
body {
  padding: 0;
  margin: 0;
}
body .column {
  background: #006966;
  height: 100vh;
  float: left;
  width: 100%;
  position: relative;
}
body .two {
  background: #000000;
}
body .three {
  background: #EA2E49;
}
body .four {
  background: #333745;
}
body .search {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  overflow: hidden;
}
body .search_bar {
  width: 280px;
  position: relative;
  margin: 0 auto;
}
body .search_bar input[type="text"] {
  width: 15px;
  background: transparent;
  -webkit-transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
  transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
  padding: 20px;
  border-color: #FFFFFF;
  text-indent: 30px;
  outline: none;
  border: 0px solid #FFFFFF;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
}
body .search_bar ::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #FFFFFF;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body .search_bar ::-moz-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #FFFFFF;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body .search_bar ::-o-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #FFFFFF;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body .search_bar input[type="checkbox"] {
  display: none;
}
body .search_bar input[type="checkbox"]:checked + label + input {
  width: 230px;
  border: 5px solid #FFFFFF;
  text-indent: 0px;
}
body .search_bar input[type="checkbox"]:checked + label i {
  right: 0px;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
          transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
  color: #FFFFFF;
}
body .search_bar input[type="checkbox"]:checked + label .last {
  left: 220px;
  -webkit-transform: translateY(-50%) rotate(360deg) scale(1);
          transform: translateY(-50%) rotate(360deg) scale(1);
}
body .search_bar input[type="checkbox"]:checked + label p {
  top: 50%;
  -webkit-transition: all .3s .45s;
  transition: all .3s .45s;
}
body .search_bar input[type="checkbox"]:not(checked) + label p {
  top: -50%;
  -webkit-transition: all .3s 0s;
  transition: all .3s 0s;
}
body .search_bar .last {
  -webkit-transform: translateY(-50%) rotate(0deg) scale(0);
  transform: translateY(-50%) rotate(0deg) scale(0);
}
body .search_bar i {
  position: absolute;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
          transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
  cursor: pointer;
  z-index: 2;
  margin: auto;
  border-radius: 4px;
  width: 56px;
  right: 50%;
  height: 54px;
  background: transparent;
  -webkit-transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
  transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
  transition: right .3s .3s, transform .3s .3s, color .3s;
  transition: right .3s .3s, transform .3s .3s, color .3s, -webkit-transform .3s .3s;
  line-height: 60px;
  color: #FFFFFF;
}
body .search_bar i:hover {
  color: #FFFFFF;
}
body .search_bar p {
  position: absolute;
  margin: 0;
  right: 52px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  top: -50%;
  -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
          transform: translateY(-50%) rotate(0deg) scale(1);
}
